<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iurii and Ekaterina's wedding invitation</title>
    <link as="font" crossorigin="anonymous" href="/fonts/Anastasia-Script_Regular.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/fonts/KitschText-Extralight.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/fonts/CormorantGaramond-Medium.woff2" rel="preload">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main>
      <section class="main">
        <p class="title title-font">Ю&Е</p>
        <p class="invitations title-font"><%= invitations %>!</p>
        <p class="description description-font" style="text-transform: uppercase;">
          Мы рады пргласить вас на день рождение нашей семьи
        </p>
        <p class="date title-font">9 июня 2023 года</p>
        <ul class="timing">
          <li class="time time-1">
            <div class="time-value time-font">16.15 -</div>
            <div class="time-description description-font">
              <p style="text-transform: uppercase;">торжественная регистрация</p>
              <p>Дом Дружбы Народов</p>
              <p>ул. Орджоникидзе, 33 а</p>
            </div>
          </li>
          <li class="time time-2">
            <div class="time-value time-font">18.00 -</div>
            <div class="time-description description-font">
              <p style="text-transform: uppercase;">праздничный банкет</p>
              <p>Гостевой дом  "Завьяловский"</p>
            </div>
          </li>
        </ul>
        <p class="dress-code title-font">Dress Code</p>
        <p class="wishes description-font">Мы будем очень рады, если в своих нарядах и букетах вы поддержите нашу цветовую гамму</p>
        <ul class="colors">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section>
      <% if (haveInvitations) { %>
        <div class="btns">
          <button onclick="setAnswer(true)">Да</button>
          <button onclick="setAnswer(false)">К сожалению нет</button>
        </div>
      <% } %>
    </main>
    <script defer src="script.js"></script>
  </body>
</html>