* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CormorantSC"; 
    font-display: fallback;
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/CormorantSC-Bold.woff2") format("woff2");
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: "CormorantSC"; 
    font-display: fallback;
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/CormorantSC-Medium.woff2") format("woff2");
    unicode-range: U+000-5FF;
}
     
@font-face{
    font-family: "SloopScriptPro";
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/SloopScriptPro-Regular.woff2") format("woff2");
    unicode-range: U+000-5FF;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "CormorantSC";
    font-weight: 700;
    color: rgb(118, 88, 48);
    background-color: rgb(235 236 240);
    overflow: hidden;
}

a {
    color: rgb(118, 88, 48);
}

ul, li {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    width: 712px;
    height: 997px;
    max-width: 100%;
    max-height: 100%;
    padding-top: 135px;
    background-image: url('./images/bg.webp');
    background-size: cover;
    background-position: top left;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p, .main div, .main ul {
    position: relative;
    z-index: 1;
}

.title-font {
    font-family: "SloopScriptPro";
    color: rgb(190, 145, 79);
    text-decoration: none;
    font-weight: normal
}

.invitations {
    font-size: 66px;
    padding-bottom: 6px;
    letter-spacing: 2px;
    line-height: 1;
}

.description {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-day,
.year {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(180, 139, 88);
    border-bottom: 2px solid rgb(180, 139, 88);
    height: 63px;
    width: 219px;
}

.week-day {
    font-size: 21px;
    letter-spacing: 6px;
}

.year {
    font-size: 29px;
    letter-spacing: 4px;
}

.day {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 73px;
    line-height: 1;
    margin-top: -21px;
}

.mounth {
    padding-top: 34px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 8px;
}

.time {
    display: flex;
}

.time-1 .time-value {
    animation: show .2s linear 0s forwards;
}

.time-1 .time-description {
    animation: show .4s linear .2s forwards;
}

.time-2 .time-value {
    animation: show .6s linear .4s forwards;
}

.time-2 .time-description {
    animation: show .8s linear .6s forwards;
}

.timing {
    padding-bottom: 18px;
    padding-top: 31px;
}

.time-value {
    font-size: 28px;
    line-height: 1.5;
    width: 90px;
    opacity: 0;
}

.time-2 .time-value {
    font-size: 27px;
}

.time-description {
    position: absolute;
    font-size: 21px;
    letter-spacing: 1px;
    opacity: 0;
    padding-left: 32px;
}

.time:last-child {
    padding-top: 32px;
}

.dress-code {
    font-size: 42px;
    letter-spacing: 2px;
}

.wishes {
    text-align: center;
    font-size: 20px;
    padding-bottom: 27px;
    padding-top: 13px;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 43px;
    opacity: 0;
    animation: show 1s linear .8s forwards;
}

@keyframes show {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.colors li {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 12px;
    border-radius: 50%;
}

.colors li:first-child {
    background-color: rgb(200, 195, 195);
}

.colors li:nth-child(2) {
    background-color: rgb(174, 198, 184);
}

.colors li:nth-child(3) {
    background-color: rgb(169, 197, 214);
}

.colors li:nth-child(4) {
    background-color: rgb(223, 184, 206);
}

.colors li:last-child {
    background-color: rgb(212, 179, 187);
}

.answer-title {
    font-size: 27px;
    letter-spacing: 1px;
}

.btns {
    font-size: 47px;
    letter-spacing: 1px;
    padding-top: 10px;
    user-select: none;
}

.btns span {
    cursor: pointer;
}

.btns span:first-child {
    padding-right: 36px;
}

.hide {
    display: none;
}

.welcome-message {
    text-align: center;
    font-size: 66px;
}

.regret-message {
    text-align: center;
    font-size: 27px;
    letter-spacing: 1px;
    width: 64%;
}
