* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CormorantSC"; 
    font-display: fallback;
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/CormorantSC-Bold.woff2") format("woff2");
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: "CormorantSC"; 
    font-display: fallback;
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/CormorantSC-Medium.woff2") format("woff2");
    unicode-range: U+000-5FF;
}
     
@font-face{
    font-family: "SloopScriptPro";
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/SloopScriptPro-Regular.woff2") format("woff2");
    unicode-range: U+000-5FF;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "CormorantSC";
    font-weight: 700;
    color: rgb(118, 88, 48);
    background-color: rgb(235 236 240);
}

a {
    color: rgb(118, 88, 48);
}

ul, li {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.main {
    position: relative;
    width: 712px;
    height: 997px;
    max-width: 100%;
    max-height: 100%;
    padding-top: 135px;
    background-image: url('./images/bg.webp');
    background-size: cover;
    background-position: top left;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p, .main div, .main ul {
    position: relative;
    z-index: 1;
}

.title-font {
    font-family: "SloopScriptPro";
    color: rgb(190, 145, 79);
    text-decoration: none;
    font-weight: normal
}

.invitations {
    font-size: 66px;
    padding-bottom: 6px;
    letter-spacing: 2px;
    line-height: 1;
}

.description {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-day,
.year {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(180, 139, 88);
    border-bottom: 2px solid rgb(180, 139, 88);
    height: 63px;
    width: 219px;
}

.week-day {
    font-size: 21px;
    letter-spacing: 6px;
}

.year {
    font-size: 29px;
    letter-spacing: 4px;
}

.day {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 73px;
    line-height: 1;
    margin-top: -21px;
}

.mounth {
    padding-top: 34px;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 8px;
}

.time {
    display: flex;
}

.time-1 .time-value {
    animation: show .2s linear 0s forwards;
}

.time-1 .time-description {
    animation: show .4s linear .2s forwards;
}

.time-2 .time-value {
    animation: show .6s linear .4s forwards;
}

.time-2 .time-description {
    animation: show .8s linear .6s forwards;
}

.timing {
    padding-bottom: 18px;
    padding-top: 31px;
}

.time-value {
    font-size: 28px;
    line-height: 1.5;
    width: 90px;
    opacity: 0;
    white-space: nowrap;
}

.time-2 .time-value {
    font-size: 27px;
}

.time-description {
    position: absolute;
    font-size: 21px;
    letter-spacing: 1px;
    opacity: 0;
    padding-left: 32px;
    white-space: nowrap;
}

.time:last-child {
    padding-top: 32px;
}

.dress-code {
    font-size: 42px;
    letter-spacing: 2px;
}

.wishes {
    text-align: center;
    font-size: 20px;
    padding-bottom: 27px;
    padding-top: 13px;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 43px;
    opacity: 0;
    animation: show 1s linear .8s forwards;
}

@keyframes show {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.colors li {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 12px;
    border-radius: 50%;
}

.colors li:first-child {
    background-color: rgb(200, 195, 195);
}

.colors li:nth-child(2) {
    background-color: rgb(174, 198, 184);
}

.colors li:nth-child(3) {
    background-color: rgb(169, 197, 214);
}

.colors li:nth-child(4) {
    background-color: rgb(223, 184, 206);
}

.colors li:last-child {
    background-color: rgb(212, 179, 187);
}

.answer-title {
    font-size: 27px;
    letter-spacing: 1px;
}

.btns {
    font-size: 47px;
    letter-spacing: 1px;
    padding-top: 10px;
    user-select: none;
}

.btns span {
    cursor: pointer;
}

.btns span:first-child {
    padding-right: 36px;
}

.hide {
    display: none;
}

.welcome-message {
    text-align: center;
    font-size: 66px;
}

.regret-message {
    text-align: center;
    font-size: 27px;
    letter-spacing: 1px;
    width: 64%;
}


@media screen and (max-width: 768px) {
    body, html {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 100vh;
    }

    main {
        display: block;
        height: auto;
        min-height: 100vh;
    }

    .content {
        width: 100%;
        padding: 80px 35px;
    }
    
    .main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: 100vh;
        max-height: none;
        padding-top: 0;
        background-position: center;
    }

    .invitations {
        font-size: 54px;
    }

    .description {
        font-size: 18px; 
    }

    .mounth {
        padding-top: 24px;
        padding-bottom: 15px
    }

    .week-day {
        font-size: 16px;
    }

    .week-day, .year {
        height: 50px;
        width: 190px;
    }

    .year {
        font-size: 24px;
    }

    .day {
        height: 50px;
        width: 50px;
        font-size: 54px;
    }

    .timing {
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .time-value {
        font-size: 24px;
        width: 60px;
    }

    .time-description {
        font-size: 18px;
        padding-left: 18px;
    }

    .time-2 .time-value {
        font-size: 21px;
    }

    .dress-code {
        font-size: 36px;
    }

    .wishes {
        font-size: 16px;
        padding-bottom: 22px;
        padding-top: 8px;
    }
    
    .colors {
        padding-bottom: 26px;
    }

    .colors li {
        width: 40px;
        height: 40px;
        margin: 0 8px;
    }

    .answer-title {
        font-size: 24px; 
    }

    .btns {
        font-size: 40px;
        padding-top: 15px;
    }

    .welcome-message {
        text-align: center;
        font-size: 50px;
    }
    
    .regret-message {
        font-size: 24px;
        width: 50%;
    }    
}

@media screen and (max-width: 576px) {
    br {
        display: none;
    }

    .invitations {
        font-size: 50px;
    }

    .description {
        font-size: 16px;
    }

    .mounth {
        padding-top: 17px;
        padding-bottom: 9px;
    }

    .date {
        width: 100%;
    }

    .week-day, .year {
        height: 45px;
        width: calc((100% - 50px)/2);
    }

    .day {
        font-size: 50px;
    }

    .year {
        font-size: 22px;
    }

    .timing {
        padding-bottom: 15px;
        padding-top: 24px;
    }

    .time-value {
        font-size: 22px;
        width: 58px;
    }

    .time-description {
        font-size: 16px;
        padding-left: 12px;
    }

    .wishes {
        padding-bottom: 17px;
    }

    .answer-title {
        font-size: 20px;
    }

    .btns {
        font-size: 32px;
        padding-top: 6px;
    }

    .welcome-message {
        font-size: 43px;
    }

    .regret-message {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .timing {
        width: auto;
        max-width: 100%;
    }

    .content {
        padding: 50px 20px;
    }

    .invitations {
        font-size: 36px;
    }

    .description {
        font-size: 14px;
    }

    .mounth {
        font-size: 16px;
    }

    .day {
        font-size: 40px;
        height: 40px;
        width: 40px;
        margin-top: -15px;
    }

    .week-day, .year {
        height: 40px;
        width: calc((100% - 40px)/2);
    }

    .year {
        font-size: 20px;
    }

    .week-day {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .time-value {
        font-size: 20px;
        width: auto;
    }

    .time-2 .time-value {
        font-size: 18px;
    }

    .time-description {
        font-size: 16px;
        padding-left: 10px;
        letter-spacing: 0;
    }

    .time:last-child {
        padding-top: 10px;
    }

    .regret-message {
        font-size: 18px;
    }
}